body {
  padding: 0;
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px; 
  justify-content: center;
}

#game-screen {
  display: none;
  position: relative;
  overflow: hidden;
  align-content: center;
}

#game-screen::before,
#game-screen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;          /* two images wide */
  height: 100%;
  background-image: url(../images/Seamless-background.png);
  background-size: contain; 
  background-repeat: repeat-x;
  animation: scroll 4s linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); } /* slide half the width */
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "monospace";
}

.logo-img {
  width: 550px;
}


body button {
  position: relative;
  padding: 1.5rem 3rem;
  font-family: "Bungee Spice", sans-serif;;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  min-width: 200px;
  z-index: 1;
}

#pulse-start{
  background: #4eb268;
  border: 2px solid #0ff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
  overflow: visible;
}

#pulse-start::before,
#pulse-start::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid #0ff;
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

#pulse-start::after {
  animation-delay: 1s;
}


#pulse-restart{
  background: #4eb268;
  border: 2px solid #0ff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
  overflow: visible;
}

#pulse-restart::before,
#pulse-restart::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid #0ff;
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

#pulse-restart::after {
  animation-delay: 1s;
}


@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

